
*{
    margin: 0;
    padding: 0;
}
.keyboard{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    
}
.box{
    width: 1233px;
    height: 340px;
    border: 2px  solid black;
    background-color: rgb(128, 125, 125);
    padding: 20px;
}
.btn{
    width: 50px;
    height: 50px;
}
/* .first{
 width: 803px;
 background-color: aliceblue; 
 display: inline-flex;
 justify-content: space-between;
 padding-bottom: 15px;
} */
.f1,.f5,.f9,.prt{
    display: inline-block;
}
.second, .third,.four,.five,.six,.first{
    width: 803px;
    padding-bottom: 8px;
    display: inline-flex;
    justify-content: space-between;
}

.tab{
    width: 100px;
}
.en{
    width: 80px;
}

.caps,.ctrl{
    width: 110px;
}
.enter{
    width: 120px;
}
.shift{
    width: 130px;
}
.space{
    width: 355px;
}
.prt{
    margin-left: 20px;
    background-color: blviolet;
    display: inline-flex;
    flex-direction: column;
    position: relative;
    bottom: 290px;
    height: 163px;
    width: 230px;
    /* background-color: aquamarine; */
    align-items: flex-start;
    justify-content: space-between;
}
.del{
    margin: 2px;
}
.arrow{
    margin-top: 78px;
}
.up{
    margin-left:60px;
    
}
.numbers{
    /* background-color: aqua; */
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: 55px 55px 55px 55px;
    grid-template-rows: 55px 55px 55px 55px 55px;
    position: relative;
    left: 1020px;
    bottom: 380px;
}
.plus{
    height: 105px;
    grid-row: span 2;
}
.ent{
    height: 105px;
    grid-row: span 2;
}
.zero{
    width: 105px;
    grid-column: span 2;
}